/*--------------------------general--------------------------------*/

.center-heading h2 {
    font-weight: 700;
    font-family: 'Spectral', serif;
    text-transform: uppercase;
    margin-top: 119px;
    margin-bottom: 33px;
    display: inline-block;
    font-size: 38px;
    padding: 21px 0;
    border-bottom: 1px solid;
    border-image: radial-gradient(at 50% 100%, transparent 0px, transparent 60px, #985336 60px, #985336 150px, transparent 150px, transparent 100%);
    border-image-slice: 1;
    position: relative;
}

.center-heading h2:after {
    content: '';
    position: absolute;
    width: 67px;
    height: 20px;
    background: url(../img/barber.png) no-repeat;
    background-position: -20px -0px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.center-heading p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #646464;
    padding-bottom: 94px;
}


/*----------------------scroll-shows----------------------------------*/

.scroll-shows {
    overflow: hidden;
}

.scroll-shows>.container {
    transition: all 1s ease-in-out;
    transform: scale(0);
}

.scroll-shows>.container.shows {
    transform: scale(1);
}

.about-us.scroll-shows>.container {
    transform: scaleX(0);
    transition: all .3s ease;
}

.about-us.scroll-shows>.container.shows {
    transform: scaleX(1);
}

.scroll-shows>.gallery-photos {
    transition: all 1s ease-in-out;
    transform: translateY(100%);
}

.scroll-shows>.gallery-photos.shows {
    transform: translateY(0);
}

.about-clients.scroll-shows>.container {
    transition: all 1s linear;
    transform: translateY(100%);
}

.about-clients.scroll-shows>.container.shows {
    transform: translateY(0%);
}

.entry.scroll-shows>.container {
    transition: all 1s ease;
    transform: translateX(100%);
}

.entry.scroll-shows>.container.shows {
    transform: translateX(0%);
}

.our-barbers.scroll-shows>.container {
    transition: all 1s ease;
    transform: translateX(-100%);
}

.our-barbers.scroll-shows>.container.shows {
    transform: translateX(0%);
}

.our-pricing.scroll-shows>.container {
    transition: all 1s linear;
    transform: translateY(100%);
}

.our-pricing.scroll-shows>.container.shows {
    transform: translateY(0%);
}


/*------------------slider--------------------------------------------*/

.slick-slider * {
    outline: none;
}

.banner-slider {
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 0;
    background: transparent;
    border: 1px solid #995437;
    z-index: 1;
    outline: none;
    transition: all 0.3s ease;
}

.slick-arrow:hover {
    background: #995437;
}

.slick-arrow:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #995437;
    top: 50%;
    left: 50%;
}

.slick-arrow:hover:before {
    border-color: #fff;
}

.slick-prev {
    left: -15%;
}

.slick-next {
    right: -15%;
}

.slick-prev:before {
    border-left: 1px solid #995437;
    transform: translate(-25%, -50%) rotate(45deg);
}

.slick-next:before {
    border-left: 1px solid #995437;
    transform: translate(-75%, -50%) rotate(-133deg);
}


/*--------------------------header--------------------------------*/

.header-row {
    display: flex;
    align-items: center;
}

.header-row .logo {
    color: #985336;
    text-decoration: none;
    font-family: 'Spectral', serif;
    font-size: 30px;
    font-weight: 700;
}

.tel-contact>a {
    padding-bottom: 6px;
}

.tel-contact>a+a {
    padding-bottom: 10px;
}

.location {
    cursor: pointer;
}

.header-contact {
    position: relative;
    padding: 27px 0px 11px 30px;
    ;
}

.header-contact i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header-contact p,
.header .header-contact a {
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    display: block;
    color: #000;
    text-decoration: none;
}

.header-row label {
    position: relative;
}

.header-row label:before {
    position: absolute;
    right: -21px;
    top: 0%;
    color: #000;
    font-size: 13px;
    padding-top: 5px;
}

.fa-search {
    cursor: pointer;
}

.search {
    border: 0px;
    outline: none;
    transform: scaleX(0);
    transition: all 2s ease;
    background: rgba(126, 126, 126, 0.2);
    height: 25px;
    font-size: 14px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
}

.search.expand {
    transform: scaleX(1);
}


/*-----------------------nav menu-------------------------------------*/

.greeting {
    background: url(../img/bg-greeting.jpg) no-repeat 50% 100%;
    background-size: cover;
    position: relative;
    padding-bottom: 259px;
}

.greeting img {
    position: absolute;
}

.menu {
    border-radius: 0px;
    display: flex;
    justify-content: center;
    background: rgba(126, 126, 126, 0.6);
    background-size: cover;
    border-bottom: 1px solid transparent;
    position: relative;
    min-height: 10px;
}

.menu .nav-menu>li>a {
    color: #e8e6e6;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding: 26px 28px;
    transition: all .5s ease;
}

.menu .nav-menu>li>a:hover {
    color: #000;
    border-bottom: 1px solid #995437;
    background: rgba(153, 84, 55, 0.3);
}

.menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu-wrap {
    min-height: 75px;
}


/*------------------banner---------------------------------------*/

.welcome {
    font-size: 72px;
    color: #fff;
    font-family: 'Spectral', serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.welcome>span {
    font-size: 72px;
    color: #985336;
    font-family: 'Spectral', serif;
    font-weight: 700;
    text-transform: uppercase;
}

.greeting .meeting-btm {
    outline: none;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #985336;
    padding: 15px 24px;
    display: inline-block;
    margin-top: 50px;
    font-family: 'Quattrocento Sans', sans-serif;
    transition: all 0.3s ease;
}

.meeting-btm:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background: #985336;
}

.banner {
    margin-top: 245px;
}

.banner-text {
    display: block;
}


/*----------------------about-us----------------------------------*/

.about-us {
    text-align: center;
    padding-bottom: 144px;
}

.service {
    padding: 64px 30px 79px;
    position: relative;
    background: #f0f0f0;
    border: 1px solid #d5d3d3;
}

.service h2 {
    font-family: 'Spectral', serif;
    font-weight: 700;
    border-bottom: 2px solid #985336;
    padding-bottom: 30px;
    border-image: linear-gradient(90deg, transparent 0%, transparent 37%, #985336 37%, #985336 64%, transparent 64%, transparent 100%);
    border-image-slice: 1;
    font-size: 21px;
}

.service p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    color: #646464;
    font-size: 18px;
    text-align: center;
    padding-top: 25px;
}

.service:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    top: 0;
    left: 50%;
    border: 1px solid #985336;
    transform: translate(-50%, -50%);
}

.razor:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 79px;
    border-radius: 50%;
    background: url(../img/barber.png);
    background-position: -108px -443px;
    top: -3px;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.scissors:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 79px;
    border-radius: 50%;
    background: url(../img/barber.png);
    background-position: -114px -628px;
    top: -3px;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.set:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 79px;
    border-radius: 50%;
    background: url(../img/barber.png);
    background-position: -120px -553px;
    top: -3px;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/*---------------------about clients-----------------------------------------*/

.about-clients {
    background: url(../img/bg-clients.jpg) no-repeat;
    background-size: cover;
    min-height: 208px;
}

.clients {
    text-align: center;
    margin-top: 34px;
}

.clients>h2 {
    font-size: 60px;
    font-family: 'Spectral', serif;
    font-weight: 700;
    color: #995437;
}

.clients>p {
    color: #fff;
    font-size: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}


/*--------------------services-------------------------------------*/

.services {
    background-position: center;
    text-align: center;
    background: url(../img/bg-services.jpg) no-repeat;
    min-height: 1300px;
    background-size: cover;
    padding-bottom: 388px;
}

.services-man-bg {
    position: relative;
}

.services-man-bg:before {
    content: '';
    background: url(../img/services-man-bg.png) no-repeat 50% 100%;
    background-size: 762px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 390px;
    display: block;
}

.services-top,
.services-bottom {
    position: relative;
    margin-bottom: 80px;
    min-height: 187px;
}

.hair-cut:before {
    content: '';
    position: absolute;
    width: 86px;
    height: 86px;
    border: 1px solid #985336;
    border-radius: 50%;
    background: url(../img/barber.png);
    background-position: -1px -377px;
    top: 50%;
    left: 120%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hair-styling:before {
    content: '';
    position: absolute;
    width: 86px;
    height: 86px;
    border: 1px solid #985336;
    border-radius: 50%;
    background: url(../img/barber.png);
    background-position: -1px -310px;
    top: 50%;
    right: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hair-wash:before {
    content: '';
    position: absolute;
    width: 86px;
    height: 86px;
    border: 1px solid #985336;
    border-radius: 50%;
    background: url(../img/barber.png);
    background-position: -1px -173px;
    top: 50%;
    left: 120%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.shave:before {
    content: '';
    position: absolute;
    width: 86px;
    height: 86px;
    border: 1px solid #985336;
    border-radius: 50%;
    background: url(../img/barber.png);
    background-position: -1px -238px;
    top: 50%;
    right: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hair {
    position: absolute;
    left: 0;
    text-align: right;
    width: 400px;
    transform: translate(-61%, 44%);
}

.hair h2 {
    font-family: 'Spectral', serif;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 17px;
}

.hair p {
    color: #717171;
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
}

.hair-right {
    position: absolute;
    right: 0;
    text-align: left;
    width: 400px;
    transform: translate(65%, 44%);
}

.hair-right h2 {
    font-family: 'Spectral', serif;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 17px;
}

.hair-right p {
    color: #717171;
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
}


/*-------------------entry---------------------------------------*/

.entry {
    text-align: center;
    background: url(../img/bg-entry.jpg) no-repeat;
    background-size: cover;
    min-height: 1003px;
    overflow: hidden;
}

.entry .appointment>h2 {
    color: #fff;
}

.entry .appointment p {
    padding-bottom: 63px;
}

.entry-form {
    text-align: left;
}

.entry .meeting-btm {
    background: none;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #985336;
    padding: 20px 24px;
    display: inline-block;
    font-family: 'Quattrocento Sans', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer
}

.entry .meeting-btm:hover {
    color: #fff;
    background: #985336;
}

.left-form {
    text-align: left;
    padding-bottom: 50px;
}

.entry-input,
.message,
.entry-select,
.barber-selection {
    background: none;
    border: none;
    border-bottom: 1px solid #c1c1c1;
    color: #c1c1c1;
    width: 100%;
    outline: none;
    display: block;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.message {
    resize: none;
    height: 125px;
}

.jq-selectbox__trigger {
    position: absolute;
    height: 100%;
    width: 5%;
    top: 0;
    right: 0;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 6px;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-left: 1px solid #8f8f8f;
    border-bottom: 1px solid #8f8f8f;
}

.jqselect.entry-select,
.jqselect.barber-selection {
    color: #8f8f8f;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    padding-left: 8px;
    padding-bottom: 8px;
}

.jq-selectbox__dropdown {
    left: 0;
    width: 100%;
}

.jq-selectbox__dropdown>ul {
    padding: 0;
    padding-left: 10px;
    margin: 0;
    background: rgb(126, 126, 126);
    z-index: 1;
    width: 100%;
    color: #fff;
}

.jq-selectbox__dropdown>ul>li {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    text-align: center;
}

.jq-selectbox__dropdown>ul>li:hover {
    border-bottom: 1px solid #8f8f8f;
}

::-webkit-input-placeholder {
    color: #8f8f8f;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}

::-moz-placeholder {
    color: #8f8f8f;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #8f8f8f;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #8f8f8f;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
}

.ui-datepicker {
    background: #8f8f8f;
    text-align: center;
    padding-top: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    text-decoration: none;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    padding: 3px 45px;
    cursor: pointer;
    background: #995437;
}

.ui-datepicker-month,
.ui-datepicker-year {
    color: #fff;
    font-size: 25px;
}

.ui-datepicker-calendar {
    text-align: center;
}

.ui-state-default {
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 25px;
    padding: 8px;
}

th {
    font-size: 25px;
    padding-left: 10px;
}


/*----------------------our barbers-----------------------------*/

.our-barbers {
    text-align: center;
    padding-bottom: 130px
}

.barbers p {
    padding-bottom: 55px;
}

.mans>h2:before {
    content: '';
    position: absolute;
    width: 130px;
    height: 20px;
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
    top: 65%;
    background: url(../img/stars.png) no-repeat;
}

.mans:nth-child(2) h2:before {
    background: url(../img/stars2.png) no-repeat;
}

.mans:nth-child(3) h2:before {
    background: url(../img/stars3.png) no-repeat;
}

.mans h2 {
    font-family: 'Spectral', serif;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 0 43px 0;
    position: relative;
}

.mans p {
    color: #717171;
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    padding: 0px 20px;
}


/*----------------------our-clients-----------------------------*/

.our-clients {
    text-align: center;
    min-height: 870px;
    background: url(../img/bg-our-clients.jpg) no-repeat;
    background-size: cover;
}

.our-clients h2 {
    color: #fff;
    position: relative;
}

.our-clients .clients-slider img {
    display: inline-block;
}

.our-clients .clients-slider .slick-prev {
    left: 0;
    top: 32%;
}

.our-clients .clients-slider .slick-next {
    right: 0;
    top: 32%;
}

.clients-slider p:before {
    content: '';
    position: absolute;
    width: 130px;
    height: 20px;
    top: 6px;
    left: 50%;
    background: url(../img/stars.png) no-repeat;
    transform: translate(-50%);
}

.our-clients p {
    color: #6f6d6c;
    padding-bottom: 25px;
}

.our-clients h3 {
    font-family: 'Spectral', serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.clients-slider p {
    font-size: 18px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    padding: 64px 0 47px;
}


/*-----------------our-gallery----------------------------------*/

.our-gallery {
    text-align: center;
}

.gallery-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery {
    width: 20%;
}

.galleries p {
    padding-bottom: 43px;
}

.gallery>img {
    width: 100%;
}


/*--------------------our-pricing-------------------------------*/

.our-pricing {
    text-align: center;
    background: #efefef;
    padding-bottom: 145px;
}

.pricings p {
    padding-bottom: 30px;
}

.pricelist {
    background: #303030;
    background-clip: content-box;
    transition: all 0.3s ease;
}

.pricelist:hover {
    background: #995437;
    background-clip: content-box;
}

.pricelist h2,
.pricelist .price-btn {
    text-align: center;
    font-size: 24px;
    font-family: 'Spectral', serif;
    font-weight: 400;
    color: #fff;
    padding: 22px 0;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.pricelist .price-btn {
    font-size: 18px;
}

.pricelist-text {
    padding: 52px 20px 39px 20px;
    background: #fff;
    text-align: left;
}

.pricelist-text>p {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    color: #717171;
    position: relative;
}

.pricelist-text>p>span {
    position: absolute;
    right: 0;
}


/*---------------------other-information-----------------------*/

.other-information {
    background: url(../img/foot-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 122px;
}

.other-information h2 {
    font-size: 20px;
    font-family: 'Spectral', serif;
    font-weight: 700;
    color: #995437;
    text-transform: uppercase;
    padding-bottom: 50px;
}

.other-information p {
    color: #d4d4d4;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
}

.subscribe {
    text-align: left;
}

.subscribe p {
    padding-bottom: 26px;
}

.subscribe-email,
.subscribe .input-group-addon {
    border: none;
    border-radius: 0;
    height: 55px;
    width: 63px;
}

.subscribe .input-group-addon {
    position: relative;
}

.subscribe .subscribe-btn {
    font-size: 18px;
    color: #fff;
    background: #995437;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: none;
}

.hours {
    text-align: center;
    padding: 0 36px 0 36px;
}

.hours p {
    text-align: left;
}

.week>p {
    position: relative;
    text-transform: uppercase;
}

.week>p>span {
    position: absolute;
    right: 0;
    text-transform: none;
}

.blog {
    text-align: left;
}

.blog h2 {
    padding-bottom: 19px;
    text-transform: none;
    font-size: 18px;
    margin: 0;
}

.blog p {
    font-size: 14px;
    padding-bottom: 25px;
}

.instagram {
    text-align: right;
}

.instagram-foto-top {
    padding-bottom: 20px;
}

.instagram-foto-top img {
    padding: 7px 8px;
}


/*------------------footer-------------------------------------*/

.footer {
    background: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.footer p {
    margin: 0;
    color: #cfcdcd;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 24px;
}

.social {
    margin: 0;
    padding: 0;
}

.social>li {
    list-style: none;
    display: inline-block;
}

.social .social-icon {
    position: relative;
    margin-right: 10px;
}

.social-icon:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    position: relative;
    display: block;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    transition: all .3s ease;
}

.footer a:hover {
    color: #995437;
    border-color: #995437;
}


/*------------------------map------------------------------------*/

.modal-title {
    color: #fff;
    text-transform: uppercase;
}

.modal-header {
    background: rgba(126, 126, 126, 0.3);
    text-align: center;
    border-bottom: 5px solid #985336;
}

.modal-body {
    background: rgb(126, 126, 126);
    text-align: center;
}


/*--------------------------------------------------------------*/


/*/ Large Devices, Wide Screens /*/

@media only screen and (min-width: 1200px) {
    .hair {
        left: 60px;
    }
    .hair-right {
        right: 80px;
    }
}

@media only screen and (max-width: 1200px) {
    .header-row {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .logo-position {
        text-align: center;
    }
    .header-search {
        text-align: center;
        padding: 20px 0;
    }
    .menu .nav-menu>li>a {
        margin: 0;
        padding: 15px 15px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
    .service {
        padding: 64px 5px 79px;
    }
    .services-man-bg:before {
        background-size: 422px;
    }
    .services {
        min-height: 1161px;
    }
    .services-padding p {
        padding-bottom: 100px;
    }
    .services-top,
    .services-bottom {
        padding-bottom: 0;
        margin-left: 95px;
        margin-right: 95px;
    }
    .hair {
        left: -80px;
        transform: translate(0);
    }
    .hair-right {
        right: -80px;
        transform: translate(0);
    }
    .hair-cut:before {
        top: 0%;
        left: 65%;
    }
    .hair-wash:before {
        top: 0%;
        left: 65%;
    }
    .hair-styling:before {
        top: 0%;
        right: 35%;
    }
    .shave:before {
        top: 0%;
        right: 35%;
    }
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: inline-block;
    }
    .gallery-top img,
    .gallery-bottom img {
        width: 185px;
        height: 185px;
    }
    .instagram-foto-top {
        margin-right: 15px;
    }
    .entry .entry-row {
        margin: 0;
    }
    .subscribe {
        text-align: center;
    }
    .input-group .subscribe-email {
        width: 880px;
    }
}


/*/ Medium Devices, Desktops /*/

@media only screen and (max-width: 992px) {
    .header-row {
        justify-content: space-around;
    }
    .menu .nav-menu>li>a {
        padding: 15px 8px;
        font-size: 17px;
    }
    .menu {
        justify-content: flex-start;
    }
    .banner {
        margin-top: 123px;
    }
    .greeting {
        background-size: 152%;
        background-position-x: 73%;
        padding-bottom: 89px;
    }
    .welcome {
        font-size: 50px;
    }
    .welcome>span {
        font-size: 50px;
    }
    .greeting .meeting-btm {
        font-size: 22px;
    }
    .banner-text {
        left: 80px;
    }
    .set {
        margin-top: 75px;
    }
    .hair {
        left: 0;
        text-align: center;
        width: 100%;
    }
    .hair-right {
        right: 0;
        width: 100%;
        text-align: center;
    }
    .hair-cut:before {
        top: -22%;
        left: 50%;
    }
    .hair-styling {
        top: 200px;
    }
    .hair-styling:before {
        top: -22%;
        right: 0;
        left: 50%;
    }
    .hair-wash {
        top: 133px;
    }
    .hair-wash:before {
        top: -22%;
        left: 50%;
    }
    .shave {
        top: 334px;
    }
    .shave:before {
        top: -22%;
        right: 0;
        left: 50%;
    }
    .services-man-bg:before {
        display: none;
    }
    .services {
        padding-bottom: 260px;
    }
    .services-padding p {
        padding-bottom: 105px;
    }
    .clients-slider .banner-text {
        left: 0;
    }
    .gallery {
        width: 47%;
        margin: 5px;
    }
    .input-group .subscribe-email {
        width: 640px;
    }
    .instagram-foto-top img {
        padding: 7px 10px;
        width: 68px;
    }
    .ui-state-default {
        font-size: 17px;
    }
    th {
        font-size: 15px;
    }
}


/*/ Small Devices, Tablets /*/

@media only screen and (max-width: 768px) {
    .header-contact {
        text-align: center;
    }
    .header-contact i {
        top: 12%;
        left: 50%;
    }
    .header-contact {
        padding: 27px 0px 11px 0px;
    }
    .banner-text {
        left: 50px;
    }
    .greeting {
        background-size: 237%;
        background-position-x: 78%;
    }
    .greeting .meeting-btm {
        font-size: 19px;
    }
    .welcome {
        font-size: 45px;
    }
    .welcome>span {
        font-size: 45px;
    }
    .scissors {
        margin-top: 75px;
    }
    .about-clients {
        padding-bottom: 20px;
    }
    .services {
        padding-bottom: 605px;
    }
    .services-top,
    .services-bottom {
        margin: 0;
    }
    .hair-styling {
        top: 255px;
    }
    .hair-wash {
        top: 334px;
    }
    .shave {
        top: 600px;
    }
    .clients-slider p {
        font-size: 14px;
    }
    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
        display: inline-block;
    }
    .pricelist {
        margin-top: 30px;
    }
    .input-group .subscribe-email {
        width: 360px;
    }
    .instagram-foto-top img {
        width: 100px;
    }
    .footer-container {
        flex-wrap: wrap;
    }
    .footer p {
        font-size: 20px;
    }
    .social {
        order: -1;
    }
    .entry-row {
        padding-bottom: 45px;
    }
}


/*/ Extra Small Devices, Phones /*/

@media only screen and (max-width: 480px) {
    .welcome {
        font-size: 27px;
    }
    .welcome>span {
        font-size: 27px;
    }
    .greeting {
        background-size: 294%;
    }
    .greeting .meeting-btm {
        font-size: 13px;
        padding: 6px 7px;
        margin: 0;
    }
    .services {
        padding-bottom: 605px;
    }
    .services-padding p {
        padding-bottom: 95px;
    }
    .slick-arrow {
        width: 25px;
        height: 25px;
    }
    .clients>h2 {
        font-size: 50px;
    }
    .clients>p {
        font-size: 14px;
    }
    .center-heading h2 {
        font-size: 30px;
    }
    .gallery {
        width: 85%;
    }
    .input-group .subscribe-email {
        width: 200px;
    }
    .social {
        padding-bottom: 15px;
    }
    .footer p {
        font-size: 15px;
    }
    th {
        font-size: 13px;
        padding-left: 0px;
    }
}


/*/ Custom, iPhone Retina /*/

@media only screen and (max-width: 320px) {
    .greeting .meeting-btm {
        font-size: 13px;
        padding: 3px 0px;
    }
    .footer p {
        font-size: 14px;
    }
    .other-information p {
        font-size: 16px;
    }
    .center-heading p {
        font-size: 14px;
    }
}